<ion-view view-title="Messages">
    <ion-content class="scroll-content-notlogin">
        <ion-list ng-show="rooms">
            <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.id)">
                <img src="{{room.icon}}"/>
                <h2>{{room.name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="rooms.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Messages...
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
